---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  href: string | { pathname: string; query?: Record<string, string> };
};

// Access the environment variables
const basePath = import.meta.env.BASE_PATH || "/";

const { href: rawHref, style, ...attrs } = Astro.props as Props;

const href = (() => {
  if (typeof rawHref === "string") {
    return rawHref;
  }
  const { pathname, query } = rawHref;
  const searchParams = new URLSearchParams(query);
  return `${pathname}?${searchParams.toString()}`;
})();

const site = new URL(Astro.site);
const { pathname } = new URL(Astro.url);

// Helper function to check if a URL is external
function isExternalLink(url: string): boolean {
  try {
    const parsedUrl = new URL(url);
    return parsedUrl.origin !== site.origin;
  } catch {
    return false;
  }
}

// Helper function to check if a URL is internal
function isInternalLink(url: string): boolean {
  try {
    const parsedUrl = new URL(url, site.toString());
    return parsedUrl.origin === site.origin;
  } catch {
    return false;
  }
}

// Check if the link is active
function isActiveLink(url: string): boolean {
  return url === pathname || url === "." || url === "./";
}

const isExternal = isExternalLink(href);
const isInternal = isInternalLink(href);
const isActive = isActiveLink(href);

// Prepend the base path to internal links if not already included
const formattedHref = isInternal && !href.startsWith(basePath) ? `${basePath}${href}` : href;

let relAttribute: object = {};
let targetAttribute: object = {};
let styleAttribute: object = {};

if (isExternal) {
  relAttribute = { rel: "external noreferrer" };
  // rel 'noopener' is implicit with target '_blank' - https://elias.mamalias.me/
  targetAttribute = { target: "_blank" };
} else if (!isInternal && isActive) {
  relAttribute = {};
  styleAttribute = { style: "color: red;" };
}
---

<a href={formattedHref} {...styleAttribute} {...relAttribute} {...attrs} {...targetAttribute}>
  <slot />
</a>
